@import './variables.scss';
@import '~bootstrap/scss/bootstrap.scss';

html {
  min-height: 100%;
  position: relative;
}

body {
  min-height: 100%;
  margin: 0 auto;
  padding: 0;
  overflow-y: auto;
  overflow-x: hidden;
  background-color: $white;
}

.App {
  text-align: center;
  height: 100vh;
}
