//Variables Colors

$black: #000;
$white: #fff;
$blue-light: #55ade8;
$blue-middle: #2f80b7; 
$blue-dark:    #324964;
$gray-100: #95a5a6;
$gray-200: #7b8a8b;

// Fonts
$font-main: 'Lato';

// Fonts Size
$font-size-base:              0.9375rem;
$h1-font-size:                2rem;
$h2-font-size:                2.4rem;
$h3-font-size:                1.3rem;
$h4-font-size:                1.1rem;
$h5-font-size:                .78rem;