//
// Color system
//

$white:    #fff !default;
$white-soft: #F2F2F2;
$gray-100: #f8f9fa !default;
$gray-200: #ecf0f1 !default;
$gray-300: #dee2e6 !default;
$gray-400: #ced4da !default;
$gray-500: #b4bcc2 !default;
$gray-600: #95a5a6 !default;
$gray-700: #7b8a8b !default;
$gray-800: #676767 !default;
$gray-900: #212529 !default;
$black-soft: #262626;
$black:    #000 !default;
$algo-primary: #1D4999 !default; // MyAlgo added variable
$algo-secondary: #383B44 !default; // added variable

$blue-extra-light: #a6bcd3;
$blue-extra-light-2: #6e8aac;
$blue-light: #55ADE8;
$blue-middle: #2F80B7;
$blue-dark:    #324964 !default; 
$blue-dark-100: #1a2738;
$blue-dark-200: #141f2c; 
$blue-dark-300: #2f4a6e; 
$blue-dark-400: #0d1b2e;
$blue-dark-500: #324964; 
$blue-dark-600: #273952;
$blue-dark-700: #192737;
$blue-dark-800: #1b2e43;
$blue-dark-900: #2f3f53;
$blue-transparent: rgba(164, 182, 204, 0.1);
$blue-gray-dark:#324964; 
$blue-gray-dark-2: #314863;
$indigo:  #6610f2 !default;
$purple:  #6f42c1 !default;
$pink:    #f75184 !default;
$red:     #E74C3C !default;
$red-light: #fc2758;
$orange:  #fd7e14 !default;
$yellow:  #F39C12 !default;
$green:   #68ad1d !default;
$green-light: #59d8a1;
$green-normal: #1FBC78;
$teal:    #00ADC0 !default;
$cyan:    #3498DB !default;

$primary:       $blue-light !default;
$secondary:     $gray-800 !default;
$accent:        $teal !default;
$success:       $green !default;
$info:          $cyan !default;
$warning:       $yellow !default;
$danger:        $red !default;
$light:         $gray-200 !default;
$dark:          $black !default;



// Navbar

$navbar-padding-y:                  1rem !default;

$navbar-dark-color:                 $white !default;
$navbar-dark-hover-color:           $success !default;

// Pagination

$pagination-color:                  $white !default;
$pagination-bg:                     $success !default;
$pagination-border-width:           0 !default;
$pagination-border-color:           transparent !default;

$pagination-hover-color:            $white !default;
$pagination-hover-bg:               darken($success, 15%) !default;
$pagination-hover-border-color:     transparent !default;

$pagination-active-bg:              $pagination-hover-bg !default;
$pagination-active-border-color:    transparent !default;

$pagination-disabled-color:         $gray-200 !default;
$pagination-disabled-bg:            lighten($success, 15%) !default;
$pagination-disabled-border-color:  transparent !default;

// Progress bars

$progress-height:                   0.625rem !default;
$progress-font-size:                0.625rem !default;

body {
  background-color: $white;
  width: 100%;
  height: 100%;
}
.App {
  text-align: center;
  height: 100vh;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
